@using EPiServer.Framework.Web.Resources
@using EPiServer.Shell
@using EPiServer.Shell.Navigation

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title></title>
    @ClientResources.RenderResources("ShellCore")
    @ClientResources.RenderResources("ShellCoreLightTheme")
    @ClientResources.RenderResources("admin", new[] { ClientResourceType.Style })
    <style>
        iframe {
            height: calc(100vh - 46px);
            width: 100vw;
            box-sizing: border-box;
        }
    </style>
    @RenderSection("Styles", false)
</head>
<body>
    @Html.AntiForgeryToken()
    @Html.Raw(Html.CreatePlatformNavigationMenu())
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div @Html.Raw(Html.ApplyPlatformNavigation()) style="z-index:auto;">
    </div>

    @RenderBody()

    @ClientResources.RenderResources("admin", new[] { ClientResourceType.Script })
    @RenderSection("Scripts", false)
</body>
</html>